.link-list,
th,
td {
  border: 1px solid white;
  border-collapse: collapse;
}

.link-list-small,
.link-list {
  max-width: 100%;
  width: 600px;

  margin-top: 1rem;
  background-color: $brighton-secondary-color;

  td.col-bg-primary {
    background-color: $brighton-primary-color;
  }
  td {
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
  }

  a.col-icon {
    font-size: 1.5rem;
    line-height: 0;
  }

  &.tertiary-bg {
    background-color: $brighton-tertiary-light-color;

    td {
      text-align: left;
    }

    td.col-bg-primary {
      background-color: $brighton-tertiary-color;
    }
  }
}

.link-list-small {
  max-width: 100%;
  width: 300px;
}

@media (max-width: 820px) {
  .link-list-small,
  .link-list {
    width: 100%;

    .link-list-title {
      width: 100%;
    }

    a.col-icon {
      padding: 0.5rem 1rem;
    }

    td {
      font-size: 0.9rem;
    }
  }

  .link-list-small {
    td {
      text-align: left;
    }
  }
}

@media (max-width: 576px) {
}
