/**=====================
  5.3 Header CSS Start
==========================**/

.left-header {
  .d-flex {
    align-items: center;
  }

  h6 {
    line-height: 1.6;

    @media (max-width: 1199px) {
      width: 160px;
      overflow: hidden;
      -webkit-line-clamp: 1;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    @media (max-width: 991px) {
      width: 120px;
    }

    @media (max-width: 767px) {
      width: 66px;
    }
  }

  @media (max-width: 755px) {
    display: none;
  }

  img {
    margin-top: -12px;
    height: 26px;
  }

  i {
    font-weight: 600;
    font-size: 12px;
    margin-bottom: -4px;
  }
}

/*======= Page Header css ends  ======= */


/**======Main Header css Start ======**/
.offcanvas,
.offcanvas-bookmark {
  .page-wrapper {
    .page-body-wrapper {
      .page-body {
        position: relative;
        filter: blur(5px) grayscale(100%);
      }
    }
  }
}

.offcanvas {
  position: unset;
  visibility: visible;
  background: unset;
  z-index: 2;
}

.toggle-sidebar {
  position: absolute;
  right: 30px;
  top: 30px;
  cursor: pointer;

  svg {
    width: $header-wrapper-nav-icon-size;
    height: $header-wrapper-nav-icon-size;
  }

  &:before {
    content: "";
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: rgba($primary-color, 0.1);
    border-radius: 100%;
    left: -11px;
    z-index: -2;
    top: -8px;
    transform: scale(0);
    transition: all 0.3s ease;
  }

  &:hover {
    &:before {
      height: 40px;
      width: 40px;
      transform: scale(1);
      transition: all 0.3s ease;
    }

    >svg {
      color: var(--theme-deafult) !important;
      stroke: var(--theme-deafult) !important;
    }
  }
}

.onhover-dropdown {
  cursor: pointer;
  position: relative;

  &:hover {
    .onhover-show-div {
      @extend %for-animated-hover-box;
    }
  }
}

.onhover-show-div {
  top: 80px;
  position: absolute;
  z-index: 8;
  background-color: $white;
  transition: all linear 0.3s;
  @extend %for-animated-hover;

  li {
    a {
      svg {
        margin-top: 0 !important;

        path,
        line {
          color: $theme-body-font-color !important;
        }
      }
    }
  }
}


/**======Main Header css Ends ======**/

/*=======Mega menu css start=======*/
.mega-menu {
  .default-according {
    .card {
      .btn-link {
        font-weight: 500;
        color: gray;
      }

      .card-body {
        font-size: 12px;
      }
    }
  }

  .onhover-show-div {
    width: 1500px;
  }

  .card-body {
    padding: 20px;
  }

  div {
    >div {
      a {
        margin-bottom: 0px;
        display: inline-block;
        color: $theme-body-sub-title-color;
      }
    }
  }

  .list-unstyled {
    div {
      a {
        padding: 8px 35px 8px 0;
        transition: $sidebar-transition;

        &:hover {
          padding: 8px 35px 8px 10px;
          transition: $sidebar-transition;
        }
      }
    }
  }
}

/*=======Mega menu css end=======*/

/**=====================
    5.3 Header CSS Ends
==========================**/

/*=======Header Teacher css start=======*/
.header-card-container {
  position: relative;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.course-details-box {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
}

.header-body {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.background-header-image {
  position: relative;
  width: 100%;
  height: auto;
}
.teacher-title {
  color: #FFA700;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.home-title {
  position: absolute;
  top: 4%;
  left: 1.4%;
}

.teacher-details-box {
  position: absolute;
  top: 45%;
  left: 1.4%;
  width: 30%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.teacher-students-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.teacher-students-data {
  display: flex;
  justify-content: space-between;
}

.info-title {
  font-size: 12px;
  font-weight: 300;
}

.info-description {
  font-size: 18px;
  font-weight: 600;
}

/* Responsividad */
@media (max-width: 768px) {
  .teacher-details-box {
    top: 52%;
    left: 1%;
    width: 31%;
  }

  .teacher-title {
    font-size: 1.4rem;
    top: -12%;
    left: 0.5%;
    max-width: 70%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .home-title {
    top: 2%;
  }
  .info-title {
    font-size: 10px;
  }

  .info-description {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .teacher-details-box {
    top: 47%;
    left: 1%;
    width: 31%;
  }
  .teacher-students-info{
    margin-bottom: 0px;
  }
  .info-title {
    font-size: 10px;
  }

  .info-description {
    font-size: 11px;
    max-width: 50%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .img-sm{
    height: 20px !important;
  }

  .small {
    max-width:100%;
  }

  .pad {
    padding-right: 1px !important;
    padding-left: 15px !important;
  }
}



/*=======Header Teacher css end=======*/
