.faq {
  background-image: url("../../../assets/images/own/faq-bg.png");
  background-repeat: no-repeat;
  background-position: calc(100% - 20px) top;
  background-size: 25%;

  .faq-content {
    h2 {
      font-size: 1.5rem;
      margin-bottom: 1rem;
      font-weight: 700;
      &.color-primary {
        color: $brighton-font-primary-color;
      }
    }

    h3 {
      font-size: 1rem;
      font-weight: 700;
      margin-bottom: 1rem;
    }

    p {
      font-size: 1rem;
      margin-bottom: 0.5rem;
    }

    @media screen and (max-width: 992px) {
      h2 {
        font-size: 1.25rem;
      }

      h3 {
        font-size: 0.85rem;
      }

      p {
        font-size: 0.85rem;
      }
    }

    @media screen and (max-width: 768px) {
      h2 {
        font-size: 1rem;
      }
    }
  }
}
