.students-registration {
  &__hero {
    width: 100%;
    background-image: url("/assets/images/own/register-bg.png");
    background-position: center left;
    background-repeat: no-repeat;
  }

  &__inner-wrapper {
    height: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background: rgba(0, 0, 0, 0.3);
  }

  &__title {
    font-size: 12rem;
    font-weight: bold;
    line-height: 1;
    color: white;
  }

  @media (max-width: 1200px) {
    &__title {
      font-size: 10rem;
    }
  }

  @media (max-width: 992px) {
    &__title {
      font-size: 7.5rem;
    }
  }

  @media (max-width: 768px) {
    &__title {
      font-size: 5.5rem;
    }
  }
  @media (max-width: 576px) {
    height: 300px;

    &__hero {
      background-size: cover;
    }

    &__inner-wrapper {
      display: flex;
      align-items: center;
    }

    &__title {
      font-size: 3rem;
    }
  }
}

.students-registration-form {
  background: rgba($brighton-secondary-color, 0.5);
  padding-top: 2rem;
  padding-bottom: 3rem;

  label {
    font-size: 0.95rem;
  }

  &__inner-wrapper {
    width: 100%;
    max-width: 570px;
    margin: 0 auto;
    padding: 0 1rem;
  }
}

.student-registered-success {
  font-size: 3rem;
  text-align: center;

  @media (max-width: 1200px) {
    font-size: 2.5rem;
  }

  @media (max-width: 992px) {
    font-size: 2rem;
  }

  @media (max-width: 768px) {
    font-size: 2rem;
  }
  @media (max-width: 576px) {
    font-size: 1.5rem;
  }
}
