/**=====================
 custom CSS Start
==========================**/
// you can add your custom css here
.syllabus-container {
  border: 1px solid #ccc;
  padding: 20px 15px;
  border-radius: 4px;
  background-color: #f9f9f9;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-height: 350px;
  overflow-y: auto;
  overflow-x: hidden;
}

.syllabus-input {
  width: 160px;
  max-width: 70%;
}

.syllabus-input-title {
  max-width: 100%;
}

.tooltip-inner {
  color: blue;
}

.select__menu {
  z-index: 9999 !important;
}

.card-body,
.card {
  overflow: visible !important;
}
.cursor-no-allowed {
  cursor: not-allowed;
}

// Aplica a los checkboxes del encabezado y de cada fila
.rdthead input[type='checkbox'],
.rdt_TableBody input[type='checkbox'] {
  transform: scale(1.3); // Ajusta este valor según tu preferencia
  cursor: pointer;
  margin: 0;
}

// Para asegurar que el input no se desborde del contenedor
.rdthead .rdt_TableCol,
.rdt_TableRow .rdt_TableCell {
  overflow: visible;
}
