.syllabus-container {
  border: 1px solid #ccc;
  padding: 20px 15px;
  border-radius: 4px;
  background-color: #f9f9f9;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-height: 350px;
  overflow-y: auto;
  overflow-x: hidden;
}

.syllabus-input {
  width: 160px;
  max-width: 70%;
}

.syllabus-input-title {
  max-width: 100%;
}

.tooltip-inner {
  color: blue;
}

.select__menu {
  z-index: 9999 !important;
}

.card-body,
.card {
  overflow: visible !important;
}
.cursor-no-allowed {
  cursor: not-allowed;
}
.cursor-pointer {
  cursor: pointer;
}

.rdthead input[type='checkbox'],
.rdt_TableBody input[type='checkbox'] {
  transform: scale(1.3);
  cursor: pointer;
  margin: 0;
}

.rdthead .rdt_TableCol,
.rdt_TableRow .rdt_TableCell {
  overflow: visible;
}

.react-select__menu,
.react-select__menu-list {
  z-index: 9999 !important;
}

.student-droppable {
  position: relative;
}

.drop-hint {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.student-item:hover {
  border-color: #3a86ff;
  transform: translateY(-2px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.student-item:hover .drag-icon {
  color: #3a86ff !important;
}

.student-item .drag-icon {
  opacity: 0.6;
  transition: all 0.2s ease;
}

.student-item:hover .drag-icon {
  opacity: 1;
}

.retired_color {
  background-color: #ea9999;
}

.toggle-icon {
  position: sticky;
  left: 93vw;
  cursor: pointer;
  &.no-professor {
    left: 79vw;
  }
}

.back-button {
  z-index: 9999;
  top: 2.3%;
  left: 15%;
}

.load-more-trigger {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50px;
}